
.no-margin{
  margin: 0px auto;
}

.hidden{
  display: none;
}

body{
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: #6a6969;
}

  body .container{
    padding-left: 22px;
    padding-top: 22px;
  }

  body h1{
    color: black;
    font-size: 70px;
  }

  body a:link{
    font-weight: 700;
    text-decoration: none;
  }

  body a:-webkit-any-link{
    color: #6a6969;
  }

    body a:hover{
      cursor: pointer;
      border-bottom: 2px solid currentColor;
    }

.drop {
  font-weight: 700;
}

.backbutton{
  display: block;
  width: 38px;
}

button{
  margin: 25px 0 25px 0;
  padding: 5px;
}

.thankstext{
  width: 98%;
  height: 250px;
  display: block;
}

.flexcol{
  padding-bottom: 12px;
  width: 35%;
  display: flex;
  flex-direction: column;
}
